<!-- <h1>Hello clusterName: <%= @cluster %> & algo: <%= @algo %></h1> -->

<h4>Hello fellow Turker! Please read the following passage carefully:	</h4>
<div class="well">
<p><%= @summary.paragraphs[0] %></p>
<p><%= @summary.paragraphs[1] %></p>
</div>