<div class="response-wrapper">
	<form role="form" action="/save_response" method="post">
		<% indexes = []%>
		<% for i in 0..@summaries.size-1%>
			<% indexes.push(i)%>
		<%end%>

		<% for i in 0..@summaries.size-1%>
			<% summary = @summaries[indexes[i]]%>
			<div class="row">
			<div class="col-lg-4 summary">
				<p><%=summary.clustering_algorithm%></p>	
				<%summary.paragraphs.each do |para|%>
				<p><small><%=para%></small></p>
				<%end%>
				<button class="btn btn-primary" type="submit" value="<%= summary.id%>" name="response">Select</button>
			</div>
		<%end%>
	</div>
		<textarea id="desc" name="description" class="form-control" placeholder="Enter description here"></textarea>
	</form>
</div>