// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron{
	background-color: white;
}
.response-wrapper{
	margin: 2em;
}

.summary{
	font-size: 16px;
	border-left: dashed 1px;
	font-family: "Times New Roman", Georgia, Serif;
	margin-bottom: 10px;
}
